/* Dark BG Color: #1F2937
H1: 48px, extra-bold, #F9FAF8
H2: 24px
Nav: 18px #E5E7EB

Button color, call to action BG color: #3882F6
Information header text: 36px extra-bold #1F2937

Quote section BG color: #E5E7EB
Quote section text: 36px light italic #1F2937*/

* {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

.bluebg {
    background-color: #1F2937;
    color: #F9FAF8;
}

header,
section,
footer {
    padding: 0% 14%;
}

/*Header and Footer*/

header,
footer {
    text-align: center;
    height: 50px;
}

section {
    height: 300px;
}

h1 {
    font-size: 48px;
    font-weight:bold;
}

h4,
ul {
    font-size: 24px;
    color: #F9FAF8;
}

ul,
li {
    list-style: none;
    display: inline;
}

.header-c {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.i {
    width: 30%;
}

/*Button*/

button {
    background-color: #3882F6;
}

.section3 {
    background-color: #E5E7EB;
}

/*Section*/

.section1-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.placeholder {
    height: 100px;
    width: 400px;
    background-color: #3882F6;
}

.section1-i {
    width: 30%;
}

.section2-c {
    display: flex;
    justify-content: space-around;
}

.section2-i {
  width: 15%;  
}

h2 {
    text-align: center;
}

.section3 {
    text-align: center;
    font-size: 36px;
}